<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head xmlns:th="http://www.thymeleaf.org">
        <title>user_form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <h1>Editar usuario</h1>
            <form th:object="${user}" method="post">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido Paterno</label>
                    <input type="text" class="form-control" id="apellido" th:field="*{paternalSurname}">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido Materno</label>
                    <input type="text" class="form-control" id="apellido" th:field="*{maternalSurname}">
                </div>
                <div class="form-group">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" class="form-control" id="correo" th:field="*{email}">
                </div>
                <div class="form-group">
                    <label for="correo">Rol</label>
                    <input type="email" class="form-control" id="correo" th:field="*{rol}">
                </div>
                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" th:field="*{password}">
                </div>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </form>
        </div>

    </body>
</html>
