<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Usuarios</title>
	<!-- Agrega aquí tus enlaces a hojas de estilo CSS de Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Usuarios</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido Paterno</th>
					<th>Apellido Materno</th>
                                        <th>Correo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.name}"></td>
					<td th:text="${user.paternalSurname}"></td>
					<td th:text="${user.maternalSurname}"></td>
                                        <td th:text="${user.email}"></td>
					<td>
						<a class="btn btn-sm btn-primary" th:href="@{users/edit/{id}(id=${user.id})}">Editar</a>
						<a class="btn btn-sm btn-danger" th:href="@{users/delete/{id}(id=${user.id})}">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Agrega aquí tu modal de edición/eliminación de usuario, si es necesario -->
		<!-- Agrega aquí tus scripts JavaScript, si es necesario -->
	</div>
	<!-- Agrega aquí tus enlaces a scripts JavaScript de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
